﻿*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Quicksand', sans-serif !important;
  font-weight: 300;
}

/*home page css*/
.nav{
  height: 75px;
  background-color: #000;
}

ul{
  float:right;
  margin-top: 25px;
}
ul>li{
  color:white;
  list-style-type:none;
  display:inline;
  padding-right: 20px;
}
ul li a{
  color: #fff;
  font-size: 20px;
}
.images{
  height: 400px;
  background: #DADADA;
}

.column{
  margin-top: 50px;
}

.segment {
  height: 400px;
}


/*footer*/

.footer{
  font-weight: 400;
  border-top: 1px solid #eee;
  margin: 20px 0 10px 0;
  padding-top: 20px;
  height: 75px;
}

.footer p{
  float:right;
  
}



/*login page*/

}
.image {
  margin-top: -100px;
}
.column {
  max-width: 450px;
}


/*contact page*/


.textb{
    width:50%;
    border: 2px solid rgb(173, 204, 204);
    height: 31px;
    width: 223px;
    box-shadow: 0px 0px 27px rgb(193, 222, 232) inset;
    transition:500ms all ease;
    padding:3px 3px 3px 3px;
    color:black;
    font-size:medium;
}
.text_colour{
    color:palevioletred;
}

.min_fix_layout{
    margin-top:25px;
}
