﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="fse_rec.Site" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Univerisity of Chester's FSE REC, The Faculty of Medicine, Dentistry and Clinical Sciences requires all research that involves human participants, their tissue and/or data to have an ethical review." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex" />


    <link rel="stylesheet" href="css/semantic.min.css" />
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>

    <script src="main.js"></script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>

</head>
<body>

    <form id="form1" runat="server">


        <div class="nav">

            <ul>
                <li><a href="Default.aspx" class="item" runat="server">Home</a></li>
                <li><a href="Contact.aspx" runat="server">Contact</a></li>
                <li><a href="About.aspx" runat="server">Info</a></li>
            </ul>

        </div>




        <asp:ContentPlaceHolder ID="content" runat="server">
        </asp:ContentPlaceHolder>





        <div class="footer">
            <div class="ui container ">
                <a href="#" class="" runat="server" target="_blank">Admin</a>
                <p><a href="https://www1.chester.ac.uk/" target="_blank">University of Chester © 2017</a></p>
            </div>
        </div>
    </form>
</body>
</html>
