﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="upload.aspx.cs" Inherits="fse_rec.upload" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="Content" runat="server">
<asp:FileUpload ID="fileUpload" runat="server" />
    <asp:TextBox ID="txtName" runat="server"></asp:TextBox>
    <br />
    <asp:TextBox ID="txtStuNum" runat="server"></asp:TextBox>
    <br />
    <asp:TextBox ID="txtTitle" runat="server"></asp:TextBox>
    <br />
<asp:Button ID="btnUpload" runat="server" Text="Upload" OnClick="btnUpload_OnClick" />
<hr />
                
</asp:Content>
